<!-- <h5 class="mb-3 text-center">Hi</h5> -->

<img class="card-img-top shadow-lg" src="{{ site.baseurl }}/assets/images/hi.JPG" width="100%" /> <!-- mb-5-->

<!-- I want this to link to my linkedin-->
<a target="_blank" href="https://www.linkedin.com/in/lukegriff/" class="btn btn-cyan d-block">
    <i class="fab fa-linkedin"></i> LinkedIn
</a>

<!-- this one should link to my github-->
<a target="_blank" href="https://github.com/luke-griffiths" class="btn btn-dark d-block">
    <i class="fab fa-github"></i> GitHub
</a>

<!-- and this one to a resume-->
<a target="_blank" href="{{ site.baseurl }}/assets/files/griffiths_basic_resume.pdf" class="btn btn-indigo d-block">
    Résumé
</a>
